{% load staticfiles %}
<head>
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Sedgwick+Ave+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee|Kreon|Philosopher|Yatra+One" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/testsalon2.css' %}">


    <title>Smoddy Sharp</title>
</head>


<div id="page1">
  <div id="header">
  <div class="page-header">
      <h1><a href="/">Smoddy Sharp</a></h1>
      <!--<h2><a href="#booking">Services</a></h2>-->
      <div id="nav">
           <ul style="font-weight: bolder">
               <li><h2><a href="#booking">Services</a></h2></li>
               <li><h2><a href="/">Appointments</a></h2></li>
               <li><h2><a href="#location">Location</a></h2></li>
               <li><h2><a href="#location">Contact</a></h2></li>
           </ul>
      </div>

  </div>
  </div> <!--</header>-->
  <a id="index" class="smooth"></a>
  <!--<div class="availability-list">
  {% for service in services %}

  <h2> {{ service.styles }}   £{{ service.price }}</h2>
  {% endfor %}

</div>-->
</div> <!--page1-->

<div id="page2">
<a id="booking" class="smooth"></a>
<!--  <form method="POST" class="booking-form" style="color:#818181">{% csrf_token %}
    <h1 style="color:#000000">Make an appointment</h1>
      {{ form.as_p }}
      <button type="submit" class="save btn btn-default">Submit</button>
  </form>-->
  <div class="photo-grid">
    <a href="/">
      <figure>
        <img src="{% static 'css/images/barber.jpg' %}" style="max-height:100%; max-width:100%" alt="">
      </figure>
    </a>
    <a href="/">
      <figure>
        <img src="{% static 'css/images/shave.jpg' %}" style="max-height:100%; max-width:100%" alt="">
      </figure>
    </a>
    <a href="/">
      <figure>
        <img src="{% static 'css/images/salon_chairs.jpg' %}" style="max-height:100%; max-width:100%" alt="">
      </figure>

    </a>
    <a href="/">
      <figure>
        <img src="{% static 'css/images/nails.jpg' %}" style="max-height:100%; max-width:100%" alt="">
      </figure>
    </a>
  </div> <!--photo-grid-->
  <div class="availability-list">
  <!--{% for service in services %}

  <h2> {{ service.styles }}   £{{ service.price }}</h2>
  {% endfor %}-->

  <h2>List of services and prices here</h2>

</div>

</div> <!--page2-->

<div id="page3">
  <a id="location" class="smooth"></a>
  <div class="map">
  <a href="https://www.google.co.uk/maps/place/Forest+Hill,+London"><img src="{% static 'css/images/map.jpg' %}" style="max-width:100%; max-height:100%; box-shadow:10px 10px 5px grey;" /></a>
</div> <!--map-->

<div class="address-box">
  <h2>Address info goes here</h2>
</div> <!--address-box-->
</div> <!--page3-->

<!--<div id="page4">
  <a id="contact" class="smooth"></a>
    Contact page content goes here.
</div>-->
<div id="footer">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <a href="/"><i class="fa fa-instagram w3-hover-opacity"></a></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p style="color:#ffffff">&copy; copyright 2017 by <a href="https://www.talithagrace.com/" style="color:#ffffff">talitha-grace</a>. all rights reserved</p>
  <!--<p class="w3-medium">Web development by <a href="https://www.talithagrace.com/" target="_blank" class="w3-hover-text-green">talitha-grace</a></p>-->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://github.com/kswedberg/jquery-smooth-scroll/blob/master/jquery.smooth-scroll.min.js"></script>
<script>
$('.smooth').on('click', function() {
    $.smoothScroll({
        scrollElement: $('body'),
        scrollTarget: '#' + this.id
    });

    return false;
});
</script>
