#wrapper{
  min-height: 100%;
	position: relative;
	background-image: url(images/loj3.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 10% 50%;
	/*background-size: 100% 180%;*/
	background-size: cover; /*this mean the image automatically resizes for the browser*/
}

#body{
  /*padding-bottom: 100px;*/
}
#footer{
	position: absolute;
	bottom: 0;
	/*left: 0;
	margin-bottom: 0px;
	margin-left: 0px;
	clear: both;
	margin-top: -150px;*/
	padding:5px 15px 5px 5px;
	color: #ffffff;
	background-color: #660022;
	opacity: 0.8;
	text-align: right;
	height: 60px;
	width: 100%;
	/*border-style: solid;*/

}

h1, h2, h3, h4 {
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'Sedgwick Ave Display', cursive;

}

p {
  font-family: 'Indie Flower', cursive;

}

.page-header
{
	/*background-color: #595959;*/
		/*background-color: #b3b3b3;*/
		/*opacity: 0.6;*/
    margin-top: 0;
    padding: 10px 10px 10px 30px;
    float: right;
		/*border-color: #437070;
		border-style: solid;
		border-width: 4px;*/
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #660022;
    opacity: 0.75;
    font-size: 60pt;
    text-decoration: none;
    /*float: right;*/
    margin-right: 30px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0; /*puts the side bar on the right hand side of screen*/
    /*background-color: #111;*/
    background-color: #660022;
    opacity: 0.8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Indie Flower', cursive;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Indie Flower', cursive;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    font-family: 'Indie Flower', cursive;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

span{
	color: #000000;
	font-size: 40pt;
  float: right;
  margin-top: 10px;
  margin-right: 30px;
  font-family: 'Sedgwick Ave Display', cursive;
  font-weight: bold;
  opacity: 0.75;

	/*margin-left: 100px;*/

}

.booking-form {
    margin-left: 10px;
    text-align: center;
    margin-top: 100px;
    /*position:relative;*/

}

.availability-form {
    margin-left: 10px;
    text-align: center;
    margin-top: 100px;
    /*position:relative;*/

}
